*,
html,
body,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-body {
  margin-top: 10%;
  margin-left: 40%;
  max-width: 400px;
  border: 1px solid black;
  padding: 50px 50px 10px 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px;
}

.todo-title {
  font-size: 15px;
  font-weight: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-refresh {
  border: none;
}

.input-form {
  display: flex;
  justify-content: space-between;
}

.input {
  border: none;
  margin-left: 5px;
  width: 250px;
  height: 40px;
  padding: 10px;
  outline-color: white;
}

.item {
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 150px;
  height: 40px;
  margin-left: 10px;
  outline-color: white;
}

/* .lineThrow {
  text-decoration: line-through;
} */

.btn-edit {
  float: right;
  margin-top: 10px;
}

.check-box {
  margin-top: 20px;
}

.activity-list {
  list-style-type: none;
  padding: 5px;
}

.btn-submit {
  border: none;
  background-color: white;
  padding-right: 2px;
}

.clear-list {
  text-align: center;
  background-color: gainsboro;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.clear-all {
  border: none;
  padding: 10px;
  background-color: gainsboro;
}

.btn-refresh:hover {
  transform: scale(1.2) rotate(90deg);
}

.clear-all:hover {
  font-size: large;
}

.remove-btn {
  margin-left: 60px;
  transition: 0.5s ease-in-out;
}

.enter:hover {
  transform: scale(1.1);
}

.btn-edit:hover {
  transform: scale(1.1);
}

#remove-btn:hover {
  transform: scale(1.1);
}
